/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles */
body {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #f5f5f5;
  overflow-x: hidden;
}

a {
  color: #0077cc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

header {
  background-color: #fff;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
  letter-spacing: -1px;
  text-transform: uppercase;
}

nav ul {
  list-style: none;
  text-align: right;
}

nav li {
  display: inline-block;
  margin-left: 20px;
}

nav a {
  font-size: 20px;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

main {
  max-width: 1200px;
  margin: 100px auto 0;
  padding: 40px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
  letter-spacing: -1px;
  text-transform: uppercase;
}

ul {
  margin-bottom: 20px;
}

li {
  margin-bottom: 5px;
}

#skills li:before {
  content: "●";
  margin-right: 10px;
  color: #0077cc;
}

#experience h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

#experience p:last-of-type {
  margin-bottom: 20px;
}

#experience li:before {
  content: "●";
  margin-right: 10px;
  color: #0077cc;
}

#interests li:before {
  content: "●";
  margin-right: 10px;
  color: #0077cc;
}

/* Media queries */
@media screen and (max-width: 768px) {
  header {
    padding: 10px;
  }
  h1 {
    font-size: 28px;
  }
  nav {
    display: none;
  }
  nav ul {
    text-align: center;
    display: block;
  }
  nav li {
    display: block;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  nav a {
    display: block;
    font-size: 24px;
    font-weight: normal;
  }
  main {
    margin-top: 50px;
  }
  h2 {
    font-size: 24px;
  }
}
